<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Chat</title>

    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="/room.css">

    <script> 
        const roomID = "<%= id %>"; 
        const userName = "<%= name %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/peerjs.min.js" defer></script>
    <script src="/client.js" defer></script>

</head>
<body>
    <div id="video-grid">
        <video id="myVideo"></video>
    </div>
    <br>
    <div class="container">
        <div id="chat"></div><br>
        <input type="text" id="message">
        <button onclick="sendMessage()" class="bg-green">Send Message</button>
    </div>
    <br>
    <div class="container">
        <input type="text" id="chat-link">
        <button onclick="copyURL()" class="bg-red">Share Room URL</button>
    </div>
</body>
</html>