body {
    background-color: dimgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#video-grid {
    display: inline-block;
    
}

.container {
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#myName {
    color: red;
}
.userName{
    color: lawngreen;
    position: absolute;
    float: left;
    padding-left: 20px;
    z-index: 10;
}

#myVideo {
    border: firebrick 2px solid;
}
video {
    border: green 2px solid;
    width: 400px;
    height:  400px;
    object-fit: cover;
}

#chat{
    padding: 10px 10px;
    text-align: left;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.chat-link {
    display: none;
}

input[type=text] {
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 10px;
    color: black;
    cursor: text;
}
button{
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
}

.bg-red {
    background-color: firebrick;
}

.bg-green {
    background-color: green;
}

#sidebar{
    display: block;
    height: 100%;
    background-color: dodgerblue;
    padding: 0px 50px;
    font-size: 20px;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 800px) {
    #sidebar {
      display: none;
    }
}